In [49]:
# Imports
import pandas as pd
import numpy as np
import numpy.random as rd

#### Load Data

In [50]:
training_data_raw = pd.read_csv('training1.csv', sep=',', index_col=False, header=None)
test_data_raw = pd.read_csv('test1.csv', sep=',', index_col=False, header=None)

In [51]:
print(training_data.shape)
training_data.iloc[:, 0:193]

(6669, 190)

,0,1,2,3,4,5,6,7,8,9,...,180,181,182,183,184,185,186,187,188,189
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,2,2,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,4,3,0,0,0,0,0
2,0,0,0,0,0,2,2,0,0,0,...,0,0,0,0,4,2,0,0,0,0
3,0,0,0,0,2,4,2,0,0,0,...,0,0,0,0,0,0,0,2,0,0
4,0,0,0,1,4,4,1,0,0,0,...,0,0,2,2,2,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6664,0,0,0,0,0,0,2,4,4,4,...,0,4,4,4,4,2,0,0,0,0
6665,0,0,0,0,0,2,4,4,4,0,...,0,4,0,0,0,0,0,0,0,0
6666,0,0,2,4,4,4,4,4,4,0,...,0,1,4,4,4,4,2,1,0,0
6667,0,0,0,0,0,0,0,0,2,4,...,0,1,2,2,0,0,0,0,0,0
6668,0,0,0,0,1,2,0,0,0,0,...,0,0,1,4,3,0,0,0,0,0

In [52]:
# y = np.transpose(training_data.values)[192]
# test_y = np.transpose(test_data.values)[192]

In [60]:
data_shape = training_data_raw.shape
n_features = data_shape[1]-1
print("No of Features:", n_features)

n_samples = data_shape[0]
print("No of Training Samples:", n_samples)

training_y, training_data = training_data_raw.iloc[:, n_features], training_data_raw.iloc[:, 0:n_features]
test_y, test_data = test_data_raw.iloc[:, n_features], test_data_raw.iloc[:, 0:n_features]

n_classes = len(np.unique(training_y))
print("No of Classes:", n_classes)
print("Classes:", np.unique(training_y))

# Parameters
hidden_neurons = 250



# one_hot_encoding = (np.arange(np.max(y) + 1) == y[:, None]).astype(float)
# training_data = training_data.iloc[:, 0:192]

# n_features = 192
# n_samples = 6669
# n_classes = len(np.unique(y))
# hidden_neurons = 250

# X = np.zeros((n_samples, n_features))
# i=0
# for x in training_data.values:
#     X[i] = x[:192]

#     i = i+1

No of Features: 192
No of Training Samples: 6669
No of Classes: 10
Classes: [0 1 2 3 4 5 6 7 8 9]